body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 1.2em;
}

.question p {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}



button {
    background-color: #0f82e7;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

button:hover {
    background-color: #0b65d3;
}